/* General Page Style */

body {
    background-color: #f8f9fa;
}


/* Navbar */

.navbar {
    margin-bottom: 20px;
}


/* Cards */

.card {
    border-radius: 12px;
}


/* Category and Product Cards */

.card:hover {
    transform: translateY(-3px);
    transition: 0.2s;
}


/* Buttons */

.btn {
    border-radius: 8px;
}


/* Main Headings */

h1,
h2,
h3,
h4,
h5 {
    color: #212529;
}


/* Invoice */

@media print {

    .navbar,
    button,
    .btn {
        display: none !important;
    }

    body {
        background-color: white;
    }

    .card {
        border: none;
        box-shadow: none !important;
    }

}